<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

  <xacro:arg name="use_sim" default="false"/>

  <xacro:macro name="arm" params="parent_link prefix xyz:='0 0 0' rpy:='0 0 0'">

    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:property name="mass_1" value="20"/>
    <xacro:property name="mass_2" value="5"/>
    <xacro:property name="mass_3" value="3"/>
    <xacro:property name="mass_4" value="3"/>
    <xacro:property name="mass_5" value="1"/>
    <xacro:property name="mass_6" value="0.2"/>

    <xacro:property name="radius_1" value="0.1"/>
    <xacro:property name="radius_2" value="0.05"/>
    <xacro:property name="radius_3" value="0.025"/>
    <xacro:property name="radius_4" value="0.025"/> 
    <xacro:property name="radius_5" value="0.022"/>
    <xacro:property name="radius_6" value="0.02"/>

    <xacro:property name="length_1" value="0.15"/>
    <xacro:property name="length_2" value="0.4"/>
    <xacro:property name="length_3" value="0.4"/>
    <xacro:property name="length_4" value="0.2"/>
    <xacro:property name="length_5" value="0.12"/>
    <xacro:property name="length_6" value="0.07"/>

    <!-- Original -->
    <!-- <xacro:property name="length_1" value="0.15"/>
    <xacro:property name="length_2" value="0.4"/>
    <xacro:property name="length_3" value="0.5"/>
    <xacro:property name="length_4" value="0.3"/>
    <xacro:property name="length_5" value="0.15"/>
    <xacro:property name="length_6" value="0.07"/> -->

    <material name="Black"><color rgba="0.0 0.0 0.0 1.0"/></material>
    <material name="Red"><color rgba="0.8 0.0 0.0 1.0"/></material>
    <material name="Blue"><color rgba="0.0 0.0 1.0 1.0"/></material>
    <material name="LightBlue"><color rgba="0.589 0.793 1.0 1.0"/></material>
    <material name="Grey"><color rgba="0.5 0.5 0.5 1.0"/></material>
    <material name="White"><color rgba="1.0 1.0 1.0 1.0"/></material>
    

    <xacro:macro name="inertial_block" params="mass length radius">
      <inertial>
        <origin xyz="0 0 ${length/2}" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia
          ixx="${mass / 12.0 * (2*radius*2*radius + length*length)}" ixy="0.0" ixz="0.0"
          iyy="${mass / 12.0 * (length*length + 2*radius*2*radius)}" iyz="0.0"
          izz="${mass / 12.0 * (2*radius*2*radius + 2*radius*2*radius)}"/>
      </inertial>
    </xacro:macro>

    <xacro:macro name="gazebo_grey_link_color_block" params="link_name">
      <gazebo reference="${link_name}">
        <visual>
          <material>
            <ambient>0.5 0.5 0.5 1.0</ambient>
            <diffuse>0.56666695 0.56666695 0.56666695 1.0</diffuse>
            <specular>0.6000003 0.6000003 0.6000003 1.0</specular>
          </material>
        </visual>
      </gazebo>
    </xacro:macro>

    <xacro:macro name="gazebo_blue_link_color_block" params="link_name">
      <gazebo reference="${link_name}">
        <visual>
          <material>
            <ambient>0.589 0.793 1.0 1.0</ambient>
            <diffuse>0.56666695 0.56666695 0.56666695 1.0</diffuse>
            <specular>0.6000003 0.6000003 0.6000003 1.0</specular>
          </material>
        </visual>
      </gazebo>
    </xacro:macro>

    <!-- Junta de montagem do braço no RAV -->
    <joint name="${prefix}mount_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent_link}"/>
      <child link="${prefix}base_link"/>
    </joint>

    <link name="${prefix}base_link">
      <xacro:inertial_block mass="${mass_3/4.0}" length="${radius_3*2.0}" radius="${radius_3*1.6}"/>

      <visual>
      <origin xyz="0 0 ${radius_3*1.6}" rpy="0 ${M_PI/2.0} 0"/>
      <geometry>
        <cylinder radius="${radius_3*1.6}" length="${radius_3*2.0}"/>
      </geometry>
      <material name="LightBlue"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${radius_3*1.6}" rpy="0 ${M_PI/2.0} 0"/>
      <geometry>
        <cylinder radius="${radius_3*1.6}" length="${radius_3*2.0}"/>
      </geometry>
    </collision>
    </link>

    <joint name="${prefix}joint_2" type="revolute">
      <origin xyz="0 0 ${radius_3*1.6}" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link_2"/>
      <axis xyz="1 0 0"/>
      <limit lower="0.0" upper="${M_PI * 2}" effort="300.0" velocity="1.0"/>
    </joint>

    <link name="${prefix}link_2">
      <xacro:inertial_block mass="${mass_3}" length="${length_3}" radius="${radius_3}"/>
      <visual>
        <origin xyz="0 0 ${length_3/2.0}" rpy="0 0 0"/>
        <geometry><cylinder radius="${radius_3}" length="${length_3}"/></geometry>
        <material name="Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${length_3/2.0}" rpy="0 0 0"/>
        <geometry><cylinder radius="${radius_3}" length="${length_3}"/></geometry>
      </collision>
    </link>
    <xacro:gazebo_grey_link_color_block link_name="${prefix}link_2"/>

    <link name="${prefix}link_2_endlink">
      <xacro:inertial_block mass="${mass_3/4.0}" length="${radius_3*2.0}" radius="${radius_3}"/>

      <visual>
        <origin xyz="0 0 ${radius_3}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius_3*2}" length="${radius_3*2.0}"/>
        </geometry>
        <material name="LightBlue"/>
      </visual>

      <collision>
        <origin xyz="0 0 ${radius_3}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius_3*2}" length="${radius_3*2.0}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}link_2_endjoint" type="fixed">
      <origin xyz="${-radius_3} 0 ${length_3 - 0.01}" rpy="0 ${M_PI/2.0} 0"/>
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_2_endlink"/>
    </joint>

    <gazebo reference="${prefix}link_2_endjoint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <joint name="${prefix}joint_3" type="revolute">
      <origin xyz="0 0 ${length_3}" rpy="0 0 0"/>
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_3"/>
      <axis xyz="1 0 0"/>
      <limit lower="0.0" upper="${M_PI * 2}" effort="300.0" velocity="1.0"/>
    </joint>

    <link name="${prefix}link_3">
      <xacro:inertial_block mass="${mass_4}" length="${length_4}" radius="${radius_4}"/>
          <visual>
      <origin xyz="0 0 ${(length_4 - radius_5*1.3)/2.0}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${radius_4}" length="${length_4 - radius_5*1.3}"/>
      </geometry>
      <material name="Grey"/>
    </visual>

    <collision>
      <origin xyz="0 0 ${(length_4 - radius_5*1.3)/2.0}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${radius_4}" length="${length_4 - radius_5*1.3}"/>
      </geometry>
    </collision>
    </link>
    <xacro:gazebo_grey_link_color_block link_name="${prefix}link_3"/>

    <joint name="${prefix}joint_4" type="revolute">
      <origin xyz="0 0 ${length_4}" rpy="0 0 0"/>
      <parent link="${prefix}link_3"/>
      <child link="${prefix}link_4"/>
      <axis xyz="1 0 0"/>
      <limit lower="-${M_PI}" upper="${M_PI}" effort="300.0" velocity="1.0"/>
    </joint>

    <link name="${prefix}link_4">
      <xacro:inertial_block mass="${mass_5}" length="${length_5}" radius="${radius_5}"/>

      <!-- Cilindro da junta 4 -->
      <visual>
        <origin xyz="0 0 0" rpy="0 ${M_PI/2.0} 0"/>
        <geometry>
          <cylinder radius="${radius_5*1.3}" length="${radius_5*2.0}"/>
        </geometry>
        <material name="LightBlue"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 ${M_PI/2.0} 0"/>
        <geometry>
          <cylinder radius="${radius_5*1.3}" length="${radius_5*2.0}"/>
        </geometry>
      </collision>

      <!-- Retângulo apoiado no limite superior do cilindro -->
      <visual>
        <origin xyz="0 0 ${radius_5*2.3}" rpy="0 ${M_PI/2.0} 0"/>
        <geometry>
          <box size="${radius_5*2} ${radius_5*2} ${length_5}"/>
        </geometry>
        <material name="Grey"/>
      </visual>

      <collision>
        <origin xyz="0 0 ${radius_5*2.3}" rpy="0 ${M_PI/2.0} 0"/>
        <geometry>
          <box size="${radius_5*2} ${radius_5*2} ${length_5}"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}gripper_joint_1" type="prismatic">
      <origin xyz="0 0 ${radius_5*2.3 + length_6/2.0}" rpy="0 0 0"/>
      <parent link="${prefix}link_4"/>
      <child link="${prefix}gripper_link_1"/>
      <axis xyz="1 0 0"/>
      <limit lower="0.0" upper="0.03" effort="100.0" velocity="1.0"/>
    </joint>

    <joint name="${prefix}gripper_joint_2" type="prismatic">
      <origin xyz="0 0 ${radius_5*2.3 + length_6/2.0}" rpy="0 0 0"/>
      <parent link="${prefix}link_4"/>
      <child link="${prefix}gripper_link_2"/>
      <axis xyz="-1 0 0"/>
      <limit lower="0.0" upper="0.03" effort="100.0" velocity="1.0"/>

      <mimic joint="${prefix}gripper_joint_1" multiplier="1.0" offset="0.0"/>
    </joint>

    <joint name="${prefix}gripper_frame_joint" type="fixed">
      <origin xyz="0 0 ${radius_5*2.3 + length_6}" rpy="0 0 0"/>
      <parent link="${prefix}link_4"/>
      <child link="${prefix}gripper_frame_cp"/>
    </joint>

    <link name="${prefix}gripper_link_1">
      <xacro:inertial_block mass="${mass_6}" length="${length_6}" radius="${radius_6}"/>
      <visual>
        <origin xyz="0 0 ${radius_6/2.0}" rpy="0 0 0"/>
        <geometry><box size="${radius_6} ${radius_6*2} ${length_6}"/></geometry>
        <material name="Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${radius_6/2.0}" rpy="0 0 0"/>
        <geometry><box size="${radius_6*2} ${radius_6*2} ${length_6}"/></geometry>
      </collision>
    </link>
    <xacro:gazebo_grey_link_color_block link_name="${prefix}gripper_link_1"/>

    <link name="${prefix}gripper_link_2">
      <xacro:inertial_block mass="${mass_6}" length="${length_6}" radius="${radius_6}"/>
      <visual>
        <origin xyz="0 0 ${radius_6/2.0}" rpy="0 0 0"/>
        <geometry><box size="${radius_6} ${radius_6*2} ${length_6}"/></geometry>
        <material name="Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 ${radius_6/2.0}" rpy="0 0 0"/>
        <geometry><box size="${radius_6*2} ${radius_6*2} ${length_6}"/></geometry>
      </collision>
    </link>
    <xacro:gazebo_grey_link_color_block link_name="${prefix}gripper_link_2"/>

    <link name="${prefix}gripper_frame_cp">
      <xacro:inertial_block mass="${0.001}" length="${0.001}" radius="${0.001}"/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="${0.001} ${0.001} ${0.001}"/></geometry>
        <material name="Grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><box size="${0.001} ${0.001} ${0.001}"/></geometry>
      </collision>
    </link>

    <xacro:if value="$(arg use_sim)">
      <ros2_control name="${prefix}GazeboSystem" type="system">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="${prefix}joint_2">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}joint_3">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}joint_4">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}gripper_joint_1">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>

        <joint name="${prefix}gripper_joint_2">
          <command_interface name="position"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </ros2_control>

      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="${prefix}gazebo_ros2_control">
          <parameters>$(find rav_description)/config/arm_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>