<?xml version="1.0"?>
<!-- Modelo isolado: use primeiro para validar a cinemática no RViz. -->
<robot name="rav_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:include filename="$(find rav_description)/urdf/rav_manipulator.urdf.xacro"/>

  <link name="manipulator_world"/>
  <xacro:rav_manipulator
      parent_link="manipulator_world"
      mount_xyz="0 0 0"
      mount_rpy="0 0 0"
      use_fake_hardware="$(arg use_fake_hardware)"/>
</robot>
